# Dependency managers
/.bundle/
/vendor/bundle/
/node_modules/
/.yarn

# Code coverage
/coverage/

# Development files
/tmp/
spec/dummy/db/*.sqlite3*
spec/dummy/log/*.log
spec/dummy/node_modules/
spec/dummy/.yarn/
spec/dummy/public/packs/
spec/dummy/tmp/

# Releases
/npm/package.json
/pkg/
