cache: bundler
language: ruby
rvm:
  - 2.6
  - 2.7
  - 3.0
  - 3.1
gemfile:
  - Gemfile
  - gemfiles/rails-6.0.x.gemfile
  - gemfiles/rails-6.1.x.gemfile
jobs:
  exclude:
    # Exclude rubies < 2.7 for ActiveModel < 7.0
    - rvm: 2.6
      gemfile: Gemfile
    # Exclude rubies > 3.0 for ActiveModel < 6.1
    - rvm: 3.1
      gemfile: gemfiles/rails-6.0.x.gemfile

# Force Travis jobs to use the latest version of Bundler
before_install:
  - yes | gem update --system --force
  - gem install bundler

before_script:
  - "cd spec/dummy && bundle exec rake db:drop db:create db:migrate RAILS_ENV=test && cd -"
script:
  - "bundle exec rake spec"
