<div class="nested-form">
  <%= form.fields_for :items do |item_form| %>
    <%= render 'lists/item_fields', :form => item_form %>
  <% end %>

  <div class="insertion-node"></div>

  <%= link_to_add_association 'Add item', form, :items,
                              form_name: :form,
                              partial: 'lists/item_fields',
                              data: {
                                  association_insertion_node: '.insertion-node',
                                  association_insertion_traversal: 'siblings'
                              } %>
</div>
