<div class="nested-form">
  <%= form.fields_for :items do |item_form| %>
    <%= render 'lists/item_fields', :form => item_form %>
  <% end %>

  <div class='links'>
    <%= cocooned_add_item_link 'Add item', form, :items,
                               form_name: :form,
                               partial: 'lists/item_fields'
    %>
  </div>
</div>
