<div class="nested-item">
  <%= link_to_remove_association "Remove", form, wrapper_class: 'nested-item' %>
  <%= form.label :label %>
  <%= form.text_field :label %>
  <%= form.hidden_field :position %>
</div>
