name: Unit tests
on: [push]
jobs:
  # Ruby unit tests
  rspec:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [2.6, 2.7, 3.0, 3.1]
        gemfile: [Gemfile, config/gemfiles/rails-6.0.x.gemfile, config/gemfiles/rails-6.1.x.gemfile]
        exclude:
          # Exclude rubies < 2.7 for ActiveModel < 7.0
          - ruby: 2.6
            gemfile: Gemfile
          # Exclude rubies > 3.0 for ActiveModel < 6.1
          - ruby: 3.1
            gemfile: config/gemfiles/rails-6.0.x.gemfile
    env: # $BUNDLE_GEMFILE must be set at the job level, so it is set for all steps
      BUNDLE_GEMFILE: ${{ github.workspace }}/${{ matrix.gemfile }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Prepare test database
        run: "cd spec/dummy && bundle exec rake db:test:prepare && cd -"
      - name: Run tests
        run: bundle exec rspec

  # JavaScript unit tests
  jest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install
      - name: Run tests
        run: yarn run test
